<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8" *ngIf="account$ | async as account">
      <h2 jhiTranslate="password.title" [translateValues]="{ username: account.login }">
        Senha para [<strong>{{ account.login }}</strong
        >]
      </h2>

      <div class="alert alert-success" *ngIf="success" jhiTranslate="password.messages.success">
        <strong>Senha alterada com sucesso!</strong>
      </div>

      <div class="alert alert-danger" *ngIf="error" jhiTranslate="password.messages.error">
        <strong>Ocorreu um erro!</strong> A senha não pode ser alterada.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
        A senha e sua confirmação devem ser iguais!
      </div>

      <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
        <div class="mb-3">
          <label class="form-label" for="currentPassword" jhiTranslate="global.form.currentpassword.label">Senha atual</label>
          <input
            type="password"
            class="form-control"
            id="currentPassword"
            name="currentPassword"
            placeholder="{{ 'global.form.currentpassword.placeholder' | translate }}"
            formControlName="currentPassword"
            data-cy="currentPassword"
          />

          <div
            *ngIf="
              passwordForm.get('currentPassword')!.invalid &&
              (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="passwordForm.get('currentPassword')?.errors?.required"
              jhiTranslate="global.messages.validate.newpassword.required"
            >
              A senha é obrigatória.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="newPassword" jhiTranslate="global.form.newpassword.label">Nova senha</label>
          <input
            type="password"
            class="form-control"
            id="newPassword"
            name="newPassword"
            placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
            formControlName="newPassword"
            data-cy="newPassword"
          />

          <div
            *ngIf="
              passwordForm.get('newPassword')!.invalid &&
              (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="passwordForm.get('newPassword')?.errors?.required"
              jhiTranslate="global.messages.validate.newpassword.required"
            >
              A senha é obrigatória.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="passwordForm.get('newPassword')?.errors?.minlength"
              jhiTranslate="global.messages.validate.newpassword.minlength"
            >
              A senha deve ter pelo menos 4 caracteres
            </small>

            <small
              class="form-text text-danger"
              *ngIf="passwordForm.get('newPassword')?.errors?.maxlength"
              jhiTranslate="global.messages.validate.newpassword.maxlength"
            >
              A senha não pode ter mais de 50 caracteres
            </small>
          </div>

          <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
        </div>

        <div class="mb-3">
          <label class="form-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label">Confirmação de nova senha</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
            formControlName="confirmPassword"
            data-cy="confirmPassword"
          />

          <div
            *ngIf="
              passwordForm.get('confirmPassword')!.invalid &&
              (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="passwordForm.get('confirmPassword')?.errors?.required"
              jhiTranslate="global.messages.validate.confirmpassword.required"
            >
              A confirmação da senha é obrigatória.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength"
              jhiTranslate="global.messages.validate.confirmpassword.minlength"
            >
              A confirmação da senha deve ter pelo menos 4 caracteres
            </small>

            <small
              class="form-text text-danger"
              *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength"
              jhiTranslate="global.messages.validate.confirmpassword.maxlength"
            >
              A confirmação da senha não pode ter mais de 50 caracteres
            </small>
          </div>
        </div>

        <button
          type="submit"
          [disabled]="passwordForm.invalid"
          class="btn btn-primary"
          jhiTranslate="password.form.button"
          data-cy="submit"
        >
          Salvar
        </button>
      </form>
    </div>
  </div>
</div>
