<div>
  <h2 id="page-heading" data-cy="PessoaHeading">
    <span jhiTranslate="pessoaApp.pessoa.home.title">Pessoas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pessoaApp.pessoa.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pessoa"
        [routerLink]="['/pessoa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pessoaApp.pessoa.home.createLabel"> Create a new Pessoa </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pessoas?.length === 0">
    <span jhiTranslate="pessoaApp.pessoa.home.notFound">No pessoas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pessoas && pessoas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome"><span jhiTranslate="pessoaApp.pessoa.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sexo"><span jhiTranslate="pessoaApp.pessoa.sexo">Sexo</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="email"><span jhiTranslate="pessoaApp.pessoa.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dataNascimento">
            <span jhiTranslate="pessoaApp.pessoa.dataNascimento">Data Nascimento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="naturalidade">
            <span jhiTranslate="pessoaApp.pessoa.naturalidade">Naturalidade</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nacionalidade">
            <span jhiTranslate="pessoaApp.pessoa.nacionalidade">Nacionalidade</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cpf"><span jhiTranslate="pessoaApp.pessoa.cpf">Cpf</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pessoa of pessoas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pessoa', pessoa.id, 'view']">{{ pessoa.id }}</a>
          </td>
          <td>{{ pessoa.nome }}</td>
          <td jhiTranslate="{{ 'pessoaApp.TipoSexo.' + pessoa.sexo }}">{{ pessoa.sexo }}</td>
          <td>{{ pessoa.email }}</td>
          <td>{{ pessoa.dataNascimento | formatMediumDate }}</td>
          <td>{{ pessoa.naturalidade }}</td>
          <td>{{ pessoa.nacionalidade }}</td>
          <td>{{ pessoa.cpf }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/pessoa', pessoa.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/pessoa', pessoa.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(pessoa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="pessoas && pessoas.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
