<div>
  <h2 id="tracker-page-heading" jhiTranslate="tracker.title">Atividades dos usuários em tempo real</h2>

  <div class="table-responsive">
    <table class="table table-striped" aria-describedby="tracker-page-heading">
      <thead>
        <tr>
          <th scope="col" jhiTranslate="tracker.table.userlogin">Usuário</th>
          <th scope="col" jhiTranslate="tracker.table.ipaddress">Endereço IP</th>
          <th scope="col" jhiTranslate="tracker.table.page">Página atual</th>
          <th scope="col" jhiTranslate="tracker.table.time">Tempo</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let activity of activities">
          <td>{{ activity.userLogin }}</td>
          <td>{{ activity.ipAddress }}</td>
          <td>{{ activity.page }}</td>
          <td>{{ activity.time | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
