<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded align-self-center my-auto"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4" jhiTranslate="home.title">Welcome to my technical challenge!</h1>

    <p class="lead" jhiTranslate="home.subtitle">Esta é a página principal</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >Você está logado como "{{ account.login }}".</span
        >
        <p jhiTranslate="home.instrutions.nav-superior"></p>
        <em><span jhiTranslate="global.menu.entities.main">Recursos</span></em>
        <strong
          ><span jhiTranslate="global.menu.entities.pessoa">Pessoa</span>,
          <span jhiTranslate="global.menu.entities.chat">Chat</span></strong
        ><br />
        <span jhiTranslate="home.instrutions.people"></span><br />
        <span jhiTranslate="home.instrutions.chat"></span><br />
        <br />
        <em><span jhiTranslate="global.menu.admin.main">Administration</span></em
        ><br />
        <em><span jhiTranslate="global.menu.admin.userManagement">User management</span></em
        >: <span jhiTranslate="home.instrutions.user-management"></span><br />
        <em><span jhiTranslate="global.menu.admin.tracker">User tracker</span></em
        >: <span jhiTranslate="home.instrutions.tracker"></span><br />
        <em><span jhiTranslate="global.menu.admin.apidocs">API</span></em
        >: <span jhiTranslate="home.instrutions.api"></span><br />
        <em><span jhiTranslate="global.menu.admin.database">Database</span></em
        >: <span jhiTranslate="home.instrutions.database"></span><br />
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <p>Por favor crie uma conta ou utilize a conta padrão do sistema</p>
        <span jhiTranslate="global.messages.info.authenticated.prefix">Se deseja </span>
        <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">entrar</a
        ><span jhiTranslate="global.messages.info.authenticated.suffix"
          >, utilize as seguintes contas padrões:<br />- Administrador (usuário="admin" and senha="admin") <br />- Usuário (usuário="user" e
          senha="user").</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.register.noaccount">Não possui uma conta ainda?</span>&nbsp;
        <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Crie uma nova conta</a>
      </div>
    </div>

    <p>
      <span jhiTranslate="home.source">To download and run the source code </span>
      <a href="https://github.com/VergilSkye/desafio-java.git" target="_blank" rel="noopener noreferrer" jhiTranslate="home.github"
        >GitHub</a
      >
      <br />
      <span jhiTranslate="home.docker">To rotate the docker image, please use </span>
      <a href="https://registry.hub.docker.com/r/vergilskye/pessoa" target="_blank" rel="noopener noreferrer" jhiTranslate="home.dockerhub"
        >DockerHub</a
      >
    </p>
  </div>
</div>
