<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1 jhiTranslate="reset.request.title">Nova senha</h1>

      <jhi-alert-error></jhi-alert-error>

      <div class="alert alert-warning" *ngIf="!success">
        <span jhiTranslate="reset.request.messages.info">Informe endereço de e-mail utilizado no cadastro</span>
      </div>

      <div class="alert alert-success" *ngIf="success">
        <span jhiTranslate="reset.request.messages.success">Verifique seu e-mail para detalhes sobre a criação de uma nova senha.</span>
      </div>

      <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
        <div class="mb-3">
          <label class="form-label" for="email" jhiTranslate="global.form.email.label">E-mail</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="{{ 'global.form.email.placeholder' | translate }}"
            formControlName="email"
            data-cy="emailResetPassword"
            #email
          />

          <div
            *ngIf="
              resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="resetRequestForm.get('email')?.errors?.required"
              jhiTranslate="global.messages.validate.email.required"
            >
              O e-mail é obrigatório.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="resetRequestForm.get('email')?.errors?.email"
              jhiTranslate="global.messages.validate.email.invalid"
            >
              E-mail inválido.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="resetRequestForm.get('email')?.errors?.minlength"
              jhiTranslate="global.messages.validate.email.minlength"
            >
              O e-mail deve ter pelo menos 5 caracteres
            </small>

            <small
              class="form-text text-danger"
              *ngIf="resetRequestForm.get('email')?.errors?.maxlength"
              jhiTranslate="global.messages.validate.email.maxlength"
            >
              O e-mail não pode ter mais de 50 caracteres
            </small>
          </div>
        </div>

        <button
          type="submit"
          [disabled]="resetRequestForm.invalid"
          class="btn btn-primary"
          jhiTranslate="reset.request.form.button"
          data-cy="submit"
        >
          Criar nova senha
        </button>
      </form>
    </div>
  </div>
</div>
